* {
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 100%;
  /* 100% = 16px */
}

body {
  position: relative;
  min-height: 100vh;
}


/* Comienzo del header */
.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
    flex-direction: row;
  }
}


/* Comienzo del main */
.titulo {
  font-family: 'Russo One', sans-serif;
  font-size: 2.5rem;
  padding: 80px 80px 80px 80px;
  letter-spacing: 10px;
  animation-duration: 3s;
}

@media only screen and (max-width:768px) {
  .titulo {
    font-size: 1.5rem;
    padding: 0%;
  }
}

@media only screen and (max-width:620px) {
  .titulo {
    font-size: 1rem;
  }
}



/* Comienzo del section */
.titulos {
  font-family: 'EB Garamond', serif;
  text-align: center;
  font-size: 2.5rem;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
}

.linea {
  border-top: 2px solid black;
  height: 40px;
  max-width: 550px;
  padding: 0;
  margin: 20px auto 0px auto;
}

p {
  font-size: 1rem;
  padding-bottom: 20px;
}

.container {
  padding-left: 60px;
  padding-right: 60px;
}

.seccion,
p {
  font-family: 'EB Garamond', serif;
  padding-top: 10px;
  line-height: 35px;

}

.seccion__subtitulo {
  font-family: 'EB Garamond', serif;
  margin-top: 35px;
  font-size: 1.5rem;
  color: black;
}

.card-img-top {
  background-size: cover;
  background-position: center;
}

.card-group {
  margin: 60px 25px 0px 25px;
  padding-bottom: 7rem;
}

.card-text {
  font-size: .9rem;
  line-height: 30px;
}

.card-title {
  font-family: 'EB Garamond', serif;
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  .titulos {
    font-size: 1.9rem;
  }

  p {
    line-height: 32px;
  }

  .card-text,
  .card-link {
    font-size: .9rem;
    line-height: 25px;
  }

  .seccion__subtitulo,
  .card-title {
    font-size: 1.6rem;
  }

  .linea {
    max-width: 400px;
  }
}

@media screen and (max-width: 480px) {

  .titulos {
    font-size: 1.5rem;
  }

  p,
  .card-text,
  .card-link {
    font-size: 1rem;
    line-height: 25px;
  }

  .seccion__subtitulo,
  .card-title {
    font-size: .9rem;
  }

  .linea {
    max-width: 275px;
  }
}



/* Comienzo del footer */
footer {
  width: 100%;
  height: 30px;
  background-color: #000;
  position: absolute;
  bottom: 0px;
  list-style: none;
  text-align: center;
}

ul {
  padding-left: 0%;
}

ul li {
  display: inline;
}

ul li a {
  color: white;
  text-decoration: none;
  padding: 0px 15px 0px 15px;
  font-size: 1rem;
}

.facebook:hover {
  color: #3b5998;
}

.twitter:hover {
  color: #00acee;
}

.instagram:hover {
  color: #b95279;
}

.youtube:hover {
  color: #c4302b;
}



/* Contactos */
.contacto {
  font-family: 'EB Garamond', serif;
  background-color: #fbfafa;
  height: auto;
  padding-top: 75px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contacto__formulario {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 50px;
}

.texto {
  font-size: 1.2rem;
  padding-bottom: 20px;
}

.text,
.email {
  background-color: #fbfbfb;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 30px;
}

.message {
  width: 300px;
  height: 80px;
  background-color: #fbfbfb;
  border-radius: 5px;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.button {
  height: 35px;
  width: 300px;
  background-color: #dbdce4;
  border-color: #cbccda;
  border-radius: 5px;
  border-width: 1px;
}

::placeholder {
  font-weight: 100;
  font-size: .9rem;
}

@media screen and (max-width: 480px) {

  .contacto__formulario,
  .texto {
    font-size: .9rem;
    line-height: 25px;
  }

  ::placeholder {
    font-size: .7rem;
  }

  .text,
  .email,
  .button,
  .message {
    width: 250px;
  }
}



/* imagenes y video */
.limite,
.formas {
  width: 500px;
  display: block;
  margin: auto;
  padding-bottom: 150px;
  margin-top: 35px;
  transition: transform;
}

.limite:hover,
.formas:hover {
  transform: scale(1.2);
}

.video {
  display: block;
  margin: auto;
  margin: 40px 80px 0px 80px;
  background-size: contain;
  padding-bottom: 7rem;
}

.img__bigbang {
  width: 500px;
  display: block;
  margin: auto;
  padding-bottom: 30px;
}