* {
    padding: 0px;
    margin: 0px;
}

html {
  font-size: 100%; /* 100% = 16px */
}



/* Comienzo del header */
.menu {
    list-style: none;
}

.menubar {
  background-color: rgba(122, 113, 151, 0.185);
 }

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 992px) 
{
  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
    flex-direction: row;
}
}



/* Comienzo del main */
.titulo { 
    font-size: 2.2rem;
    padding: 80px 80px 80px 80px;
    letter-spacing: 10px;
    animation-duration: 3s;
}

.titulos {
    text-align: center;
    font-size: 2rem;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.linea {
  border-top: .5px solid black;
  height: 20px;
  max-width: 500px;
  padding: 0;
  margin: 20px auto 0px auto;
}

@media only screen and (max-width:768px) {
  .titulo {
    font-size: 1.5rem;
    padding: 0%;
  }
}

@media only screen and (max-width:620px) {
  .titulo {
    font-size: 1rem;
  }
}



/* Comienzo del section */
.seccion ,p {
    padding-top: 20px;
    line-height: 35px;
}

.seccion__subtitulo {
    font-size: 1.2rem;
    color: black;
    font-weight: 550;
}

.card-img-top {
  background-size: cover;
  background-position: center;
}

.card-group {
  margin: 60px 25px 45px 25px;
}

.card-text {
  font-size: .8rem;
  line-height: 30px;
}

.card-title {
  font-size: 1.1rem;
}

@media screen and (max-width: 786px) {
  .titulos {
    font-size: 1.5rem;
  }
  
  p {
    font-size: .8rem;
    line-height: 32px;
  }

  .card-text, .card-link {
    font-size: .8rem;
    line-height: 25px;
  }

  .seccion__subtitulo, .card-title{
    font-size: 1rem;
}
 }

@media screen and (max-width: 480px) {
  p, .card-text, .card-link {
    font-size: .8rem;
    line-height: 25px;
  }

  .seccion__subtitulo, .card-title{
    font-size: .9rem;
}
 }



/* Comienzo del footer */
footer {
    width: 100%;
    height: 30px;
    background-color: #000;  
    bottom: 0px;
    padding: 0%;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 0px 15px 0px 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.facebook:hover {
    color: #3b5998;
}

.twitter:hover {
    color: #00acee;
}

.instagram:hover {
    color: #b95279;
}

.youtube:hover {
    color: #c4302b;
}



/* Contactos */
.contacto {
  height: auto;
  padding-top: 75px;
  padding-bottom: 100px;  
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
  
.contacto__formulario {
    font-size: 1.8rem;
    line-height: 50px;
}

.texto {
  font-size: 1.2rem;
  padding-bottom: 20px;
}

label {
    font-size: 1.2rem;
}

.text, .email {
    background-color: #fbfbfb; 
    width: 300px; 
    height: 30px; 
    border-radius: 5px;   
    border-width: 1px; 
    margin-top: 10px;  
    margin-bottom: 20px; 
  }

.message {
    width: 300px; 
    height: 80px; 
    background-color: #fbfbfb;
    border-radius: 5px;  
    border-width: 1px; 
    margin-top: 10px;  
    margin-bottom: 20px; 
}
  
.button {
    height: 35px; 
    width: 300px;  
}

::placeholder {
  font-weight: 100;
  font-size: .9rem;
}

@media screen and (max-width: 480px) {
  .contacto__formulario, .texto {
    font-size: .9rem;
    line-height: 25px;
  }
  ::placeholder {
    font-size: .7rem;
  }
  .text, .email, .button, .message {
    width: 250px;
  }
}



/* imagenes y video */
.limite, .formas {
    width: 400px;
    display:block;
    margin:auto;    
    margin-bottom: 80px;
    margin-top: 35px;
    transition: height 2s, width 1s;
}

.limite:hover, .formas:hover {
  width: 550px;
}

.video {
    display:block;
    margin:auto;
    margin-bottom: 80px; 
    margin-top: 40px; 
    background-size: contain;
}
