@import "./base/variables";
@import "./base/general";
@import "./contenido/footer";
@import "./contenido/menu";
@import "./contenido/contactos";
@import "./contenido/imgvideo";
@import "./contenido/main";
@import "./contenido/section";