/* Footer */
footer {
    width: 100%;
    height: 30px;
    background-color: $colorPrincipal;  
    bottom: 0px;
    padding: 0%;
    list-style: none;
    text-align: center;

    & ul li {
        display: inline;

        & a {
            color: white;
            text-decoration: none;
            padding: 0px 15px 0px 15px;
            font-family:Arial, Helvetica, sans-serif;
            font-size: 1rem;
        }
    }
}

/* Iconos */
.facebook:hover {
    color: #3b5998;
}

.twitter:hover {
    color: #00acee;
}

.instagram:hover {
    color: #b95279;
}

.youtube:hover {
    color: #c4302b;
}