/* Comienzo del main */
.titulo {
  font-family: map-get($tipografias, secundario);
  font-size: 2.5rem;
  padding: 80px 80px 80px 80px;
  letter-spacing: 10px;
  animation-duration: 3s;
}

@media only screen and (max-width: $tablet) {
  .titulo {
    font-size: 1.5rem;
    padding: 0%;
  }
}

@media only screen and (max-width: $intermedio) {
  .titulo {
    font-size: 1rem;
  }
}