/* Menú */
.menubar {
    background-color: map-get($colores, bg );  
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
/* Adaptación desktop */  
  @include mediaQuery (medio)
  {
    .navbar-expand-lg .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
      justify-content: flex-end;
      flex-direction: row;
  }
  }