.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: $medio) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
    flex-direction: row;
  }
}