/* Tamaños */
$mobile: 400px;
$small: 480px;
$intermedio: 620px;
$medio: 992;
$tablet: 768px; 


/* Mapas */
$tipografias: (
    primaria:'EB Garamond' serif,
    secundaria: 'Russo One' sans-serif,
);

$colores: (
    primario: #000,
    secundario: #fbfbfb,
    terciario: white,
    bg: #fbfafa,
    button_bg: #dbdce4,
    button_border: #cbccda,
);


/*Extends*/
%flexRow {
    display: flex; 
    flex-direction: column;
    justify-content: center;
};


