/* Tama単os */
$small: 480px;
$intermedio: 620px;
$tablet: 768px; 

/* Mapas */
$colores: (
    primario: #000,
    secundario: #fbfbfb,
    terciario: white,
    bg: #fbfafa,
    button_bg: #dbdce4,
    button_border: #cbccda,
);

$tipografias: (
    primaria:'EB Garamond' serif,
    secundaria: 'Russo One' sans-serif,
);

/*Extends*/
%flexRow {
    display: flex; 
    flex-direction: column;
    justify-content: center;
};


/*Mixins*/
@mixin mediaQuery ($dise単oPantalla) {
    @if $dise単oPantalla == mobile {
        @media only screen and (max-width: 400px) {
            @content;
        } 
    } @else if $dise単oPantalla == medio {
        @media only screen and (max-width: 992px) {
            @content;
        } 
    }
};
